body{
	background-color: black;
	margin: 0;
}

#intro{
	background-image: url("transfer.jpg");
	background-repeat: no-repeat;
	background-size: 1400px;
}
#about{
			width:500px;
}
#about h1{
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 60px;
	margin-bottom:0px;
	margin-left:30px;
}
#about p{
	margin-top:0;
	padding-bottom:20px;
	color: white;
}

h2{
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	color: white;
	margin-left:30px;
}

p{
	font-family: 'Old Standard TT', serif;	
	color: grey;
	margin-left:30px;
	margin-bottom:60px;
}

a {
color: white;
text-decoration: none;
}

img{
	margin-left:30px;
}

#office{
	width: 630px;
}

#english{
	width:630px;
}

#work{
	width:630px;
}

#footer{
	width:630px;
	color:white;
}